<!DOCTYPE html>
<html ng-app="LunchCheck">
<head>
  <meta charset="UTF-8">
  <title>Lunch Check</title>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <div ng-controller="LunchCheckController">
    <h1>Lunch Checker</h1>
    <p>Enter comma-separated items you usually eat for lunch:</p>
    <input type="text" ng-model="lunchItems" placeholder="Enter items">
    <button ng-click="checkLunchItems()">Check If Too Much</button>
    <p>{{ message }}</p>
  </div>
</body>
</html>
